.header {
  grid-column: 1/13;
  grid-row: 1;
  height: 50px;
  color: #feda4a;
  display: flex;
  justify-content: center;
  background-image: url('./may-the-forth-be-with-you.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2em;
}