.card {
  border: 2px solid yellow;
  border-radius: 25px;
  padding: 20px 10px;
  background-color: black;
  box-shadow: 2px 2px 4px #868686;
  min-height: 250px;
  margin: 20px; }

.card:hover {
  cursor: pointer;
  background-color: yellow; }

.card p {
  color: yellow; }
