.card {
  background-color: black;
  border-radius: 25px;
  border: 2px solid yellow;
  box-shadow: 2px 2px 4px #868686;
  margin: 20px;
  padding: 20px 10px;
  text-align: center;
  display: grid;
}

.card:hover {
  cursor: pointer;
  background-color: grey;
}

.card p {
  color: yellow;
  margin: 5%;
}

.card button {
  background-color: black;
  color: yellow;
}

.card .favorited{
  background-color: yellow;
  color: black;
}